* {
    font-family: Tahoma, sans-serif;
    background-color: rgb(253, 214, 169);
    background-blend-mode: hard-light;
}

h1 {
    color: darkgreen;
    text-align: center;
    text-decoration: dotted underline overline;
    text-shadow: 2px 2px 1px green;    
}

h2 {
    color: darkgreen;
    text-align: center;
    text-decoration: dotted underline;
}

ol {
    color: darkblue;
    font-weight: bold;
}
