* {
    font-family: Tahoma, sans-serif;
    background-color: rgb(253, 214, 169);
    background-blend-mode: hard-light;
}

.heading {
    color: darkgreen;
    text-decoration: wavy;
    font-weight: bold;
    text-shadow: 2px 2px 1px grey;
    margin-top: 50px;
}

.subheading {
    color: darkgreen;
    text-decoration: underline;
    text-align: left;
    margin-left: 20px;
    font-size: 24px;
    margin-top: 5%;
}

.question {
    font-weight: bold;
    color: darkgreen;
}

.answer {
    font-weight: lighter;
}

#experience {
    margin-right: 10%;
    margin-top: 20px;
    font-size: 18px;
    width: 50%;
}

#me {
    width: 300px;
    float: right;
    margin-right: 100px;
}

