* {
    font-family: Tahoma, sans-serif;
    background-color: rgb(253, 214, 169);
}

h1 {
    color: darkgreen;
    text-align: center;
    text-decoration: dotted underline overline;
    text-shadow: 2px 2px 1px green;    
}

h2 {
    color: darkgreen;
    text-decoration: dotted underline;
}

h2 {
    border: 3px solid darkslategrey;
}

#questions {
    margin-right: 450px;
}

#experience {
    text-align: left;
    margin-left: 500px;
}

ol, ul {
    color: darkblue;
    font-weight: bold;
    border: 3px solid darkslategrey;
}

ol {
    margin-right: 450px;
}

ul {
    margin-left: 500px;
}